/1er-año/2do-cuatrimestre/TdP/Módulo-2-Objetos/**/build/
/1er-año/2do-cuatrimestre/TdP/Módulo-2-Objetos/**/private/
/1er-año/2do-cuatrimestre/AC/WinMips64/Sim-WinMips64/winmips64.ini
/1er-año/2do-cuatrimestre/AC/WinMips64/Sim-WinMips64/winmips64.las
/2do-año/1er-cuatrimestre/SdL(.NET)/proyectosDotnet/**/obj/
/2do-año/1er-cuatrimestre/SdL(.NET)/proyectosDotnet/**/bin/
/2do-año/1er-cuatrimestre/AyED/Prácticas/ayed/**/bin/
/2do-año/2do-cuatrimestre/OO1/Práctica/**/.settings/
/2do-año/2do-cuatrimestre/OO1/Práctica/**/bin/
**/.obsidian/